<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kel1.kouveepetshop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Admin.dashboard">

        </activity>
        <activity android:name=".View.Admin.login_pegawai">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Customer.customerMain" />

        <activity android:name=".View.Customer.customerShow">

        </activity>
        <activity android:name=".View.Customer.customerAdd">

        </activity>
        <activity android:name=".View.Customer.customerEdit"/>
        <activity android:name=".View.Hewan.hewanMain" />
        <activity android:name=".View.JenisHewan.jenisHewanMain" />
        <activity android:name=".View.Layanan.layananMain" />
        <activity android:name=".View.Layanan.layananShow" />
        <activity android:name=".View.Layanan.layananEdit" />
        <activity android:name=".View.Layanan.layananAdd" />
        <activity android:name=".View.Produk.produkMain" />
        <activity android:name=".View.Produk.produkAdd" />
        <activity android:name=".View.Produk.produkShow" />
        <activity android:name=".View.Supplier.supplierMain" />
        <activity android:name=".View.Supplier.supplierAdd" />
        <activity android:name=".View.Supplier.supplierEdit" />
        <activity android:name=".View.Supplier.supplierShow" />
        <activity android:name=".View.UkuranHewan.ukuranMain" />
    </application>

</manifest>